spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order_enricher
    username: app
    password: app
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate.format_sql: true
  redis:
    host: localhost
    port: 6379

server:
  port: 8080

logging:
  level:
    root: INFO
